In [88]:
import pandas as pd

In [89]:
df = pd.read_csv("../dataset/train_data/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [90]:
df.shape

(2000, 21)

In [91]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.3 KB

In [93]:
dtype = [df[x].dtype.name for x in df.columns]
dtype_ = set(dtype)
print(dtype_)
cols = [x for x in df.columns]
mapping = {
    "int64": "INTEGER",
    "float64": "DECIMAL"
}
result = {}
for i in range(len(dtype)):
    result[cols[i]] = mapping[dtype[i]]
print(result)

{'float64', 'int64'}
{'battery_power': 'INTEGER', 'blue': 'INTEGER', 'clock_speed': 'DECIMAL', 'dual_sim': 'INTEGER', 'fc': 'INTEGER', 'four_g': 'INTEGER', 'int_memory': 'INTEGER', 'm_dep': 'DECIMAL', 'mobile_wt': 'INTEGER', 'n_cores': 'INTEGER', 'pc': 'INTEGER', 'px_height': 'INTEGER', 'px_width': 'INTEGER', 'ram': 'INTEGER', 'sc_h': 'INTEGER', 'sc_w': 'INTEGER', 'talk_time': 'INTEGER', 'three_g': 'INTEGER', 'touch_screen': 'INTEGER', 'wifi': 'INTEGER', 'price_range': 'INTEGER'}

In [94]:
result

{'battery_power': 'INTEGER',
 'blue': 'INTEGER',
 'clock_speed': 'DECIMAL',
 'dual_sim': 'INTEGER',
 'fc': 'INTEGER',
 'four_g': 'INTEGER',
 'int_memory': 'INTEGER',
 'm_dep': 'DECIMAL',
 'mobile_wt': 'INTEGER',
 'n_cores': 'INTEGER',
 'pc': 'INTEGER',
 'px_height': 'INTEGER',
 'px_width': 'INTEGER',
 'ram': 'INTEGER',
 'sc_h': 'INTEGER',
 'sc_w': 'INTEGER',
 'talk_time': 'INTEGER',
 'three_g': 'INTEGER',
 'touch_screen': 'INTEGER',
 'wifi': 'INTEGER',
 'price_range': 'INTEGER'}

In [95]:
df["pk"] = df['battery_power']+df['blue']+df['clock_speed']+df['dual_sim']+df['fc']+df['four_g']+df['int_memory']+df['m_dep']+df['mobile_wt']+df['n_cores']+df['pc']+df['px_height']+df['px_width']+df['sc_w']+df['ram']+df['sc_h']+df['sc_w']+df['wifi']+df['talk_time']+df['three_g']+df['touch_screen']+df['wifi']
a = df["pk"].to_list()
s = set(a)
print(len(a), len(s))

2000 1954

In [96]:
x = "+".join([f"df['{i}']" for i in df.columns])
x

"df['battery_power']+df['blue']+df['clock_speed']+df['dual_sim']+df['fc']+df['four_g']+df['int_memory']+df['m_dep']+df['mobile_wt']+df['n_cores']+df['pc']+df['px_height']+df['px_width']+df['ram']+df['sc_h']+df['sc_w']+df['talk_time']+df['three_g']+df['touch_screen']+df['wifi']+df['price_range']+df['pk']"

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
 21  pk             2000 non-null   float64
dtypes: float64(3), int64(19)
memory usage: 343.9 KB

In [98]:
df["pk"]

0       4413.8
1       6779.2
2       6374.4
3       6590.3
4       5898.8
         ...
1995    4748.3
1996    7165.8
1997    7645.6
1998    3655.0
1999    5944.9
Name: pk, Length: 2000, dtype: float64

In [99]:
import time
time.time()

1685000759.2218914

In [100]:

from datetime import timezone
import datetime
  
  
# Getting the current date
# and time
dt = datetime.datetime.now(timezone.utc)
  
utc_time = dt.replace(tzinfo=timezone.utc)
utc_timestamp = utc_time.timestamp()
utc_timestamp_ = datetime.datetime.strftime(utc_time, '%d/%m/%Y %H:%M:%S')


a = datetime.datetime(utc_timestamp_)
a

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
df.iloc[200:, :]

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range,pk
200,1703,1,0.5,0,0,1,22,0.6,192,1,...,1235,1046,5,4,13,1,0,1,0,1704
201,1445,1,2.4,1,7,1,20,0.4,173,7,...,1345,1441,7,4,13,1,1,1,1,1446
202,1087,0,1.3,0,0,1,16,0.3,166,3,...,589,690,14,6,6,1,0,1,0,1087
203,671,0,0.9,1,10,0,30,0.7,105,7,...,1182,2504,6,4,15,1,0,0,2,671
204,1472,1,2.3,0,6,0,61,0.1,168,6,...,1052,2677,19,15,8,1,0,0,2,1473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1890,668,13,4,19,1,1,0,0,795
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,1965,2032,11,10,16,1,1,1,2,1966
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,1632,3057,9,1,5,1,1,0,3,1911
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,670,869,18,10,19,1,1,1,0,1512
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,754,3919,19,4,2,1,1,1,3,511

In [ ]:
l = list(df.columns)
len(l)
z = ""
x = ",".join([f"row.{i}" for i in df.columns])
x

'row.battery_power,row.blue,row.clock_speed,row.dual_sim,row.fc,row.four_g,row.int_memory,row.m_dep,row.mobile_wt,row.n_cores,row.pc,row.px_height,row.px_width,row.ram,row.sc_h,row.sc_w,row.talk_time,row.three_g,row.touch_screen,row.wifi,row.price_range,row.pk'

In [ ]:
[f"row.{i}" for i in df.columns][21]

'row.pk'

In [ ]:
data = pd.read_csv("../dataset/user_data/test.csv")
data.head()

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1

In [ ]:
data["pk"] = data["battery_power"] + data["blue"] 
a = data["pk"].to_list()
s = set(a)
print(len(a), len(s))

1000 740

In [ ]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range', 'pk'],
      dtype='object')

In [101]:
df["pk"] = df["px_height"]/df["px_width"] + df["ram"]
s = df["pk"].to_list()
a = set(s)
print(len(a), len(s))
df["pk"].dtype

2000 2000

dtype('float64')

In [102]:
df["pk"]

0       2549.026455
1       2631.455231
2       2603.736014
3       2769.680851
4       1411.996700
           ...
1995     668.646561
1996    2032.465649
1997    3057.531863
1998     869.501493
1999    3919.640584
Name: pk, Length: 2000, dtype: float64